body {
    
    background-image: url(casa.jpg);
     left: 400px;
     font-family: 'Times New Roman', Times, serif;
     background-repeat: no-repeat;
     background-size: 100%;
  }
  nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
.botones{ 
 
    padding: 10px 10px;
    border: #f04545 solid;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    transition: all 1s;
    background-color: #ffffff;
}